* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
#messages {
  border: solid 2px black;
  border-bottom: none;
  width: 100%;
  height: 300px;
  padding: 2px;
  overflow: auto;
}
#messages li {
  list-style: none;
}
#send-message {
  width: 100%;
}
#send-message input {
  width: 100%;
  font-size: 2em;
  border: solid 2px black;
}
#send-message input:focus {
  outline: none;
}
.time {
  color: #c3c3c3;
}
.username {
  color: #ed6435;
}
